
#page2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
  }
  
  .banner {
    border: 4px solid var(--dark);
    padding: 8px 20px; 
    background: #fff0f7;
    box-shadow: 4px 4px 0 var(--dark);
    color: var(--pink);
    font-size: 12px;
    margin-top: 150px;
    margin-bottom: 8px;
  }
  
  
  .timer {
    display: none;
    margin-top: 12px;
  }
  
  .timer.active {
    display: flex;
    justify-content: center;
    gap: 8px;
  }
  
  .timer__box {
    background: #fff0f7;
    border: 4px solid var(--dark);
    box-shadow: 4px 4px 0 var(--dark);
    text-align: center;
    width: 80px;
    padding: 4px 0;
    font-size: 9px;
    line-height: 1.4;
  }
  
  .timer__box span {
    display: block;
    color: var(--pink);
    font-size: 20px;
  }
  
  #timer-caption {
    margin-top: 10px;
    font-family: "Press Start 2P", monospace;
    font-size: 10px;
    color: #ff8fb1;
    text-align: center;
  
    opacity: 0;
    transform: translateY(4px);
    transition: opacity 1.2s steps(6, end),
                transform 1.2s steps(6, end);
  }
  
  #timer-caption.show {
    opacity: 1;
    transform: translateY(0);
  }
  